body, div#mw-panel {
	background: #955100 url(http://images.brickimedia.org/c/c2/Refreshed-new-background.png) no-repeat fixed !important;
	background-size: cover !important;
}
 
#p-personal li, #p-media li, div.vectorTabs li, div.vectorMenu, #p-search,
div#mw-panel div.portal div.body ul li, .vectorMenu li, #p-search-mobile,
#expander, .submenu a {
	background-color: #A06219;
}
 
div.vectorMenu ul {
	border: solid 1px #774D19;
}
 
/* no longer :visited */
div#mw-panel div.portal div.body ul li a, #p-media a, #p-personal a,
div.vectorTabs li a, div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
	color: #543919;
}
 
#p-media li:not(.not-link):hover, #p-personal li:hover {
        background-color: #593100;
}
