body {
	/* @embed */
	background-image: url(images/studs-tile-light.png);
	background-repeat: repeat;
}

body, 
#expander, 
div#mw-panel {
	background-color: #3d9ec8;
}

#p-personal li, 
#p-media li, 
#p-search,
div.vectorTabs li, 
.vectorMenu li,
div.vectorMenu, 
div#mw-panel div.portal div.body ul li {
	background-color: #bfdbee;
}

div.vectorTabs li.selected {
	background-color: #fff;
}

div.vectorMenu ul {
	border: 1px solid #bfdbee;
}

/* no longer :visited */
div#mw-panel div.portal div.body ul li a, 
div.vectorTabs li a, div.vectorMenu li a,
#p-personal a,
#p-media a {
	color: #0645ad;
}

.submenu a {
	background-color: #bfdbee;
}
.submenu a:hover {
	background-color: #bfdbee;
	text-decoration: none;
}
